<!-- <form [formGroup]="myForm">
  <label for="">first name
    <input type="text" formControlName="firstName">
  firstNAme {{myForm.get('firstName')?.errors | json}}

  </label><br><br>
  <label for="">last name
    <input type="text" formControlName="lastName">
  </label><br><br>
  <label for="">Password
    <input type="text" formControlName="password">
  </label><br><br>
  <label for="">Confirm Password
    <input type="text" formControlName="confirmPassword">
  </label>
  <label for="">Lazy
    <input type="text" formControlName="lazyUserName">
  </label>
  lazy {{myForm.get('lazyUserName')?.errors | json}}
</form>
Form {{myForm.errors | json}} -->
<nav>
  <a routerLink="">Home</a> |
  <a routerLink="login">Login</a> |
  <a routerLink="signup">Sign Up</a> |
</nav>
header
<router-outlet></router-outlet>
footer
