<!-- <h1 appHighlight class="text-warning">Hello</h1>
<router-outlet></router-outlet>
<app-test-demo></app-test-demo>
<app-items></app-items> -->

<!-- <p>
  {{todayDate | date:'fullDate':'+2':'ar-EG'}}
</p> -->
<!-- {{myPromise}}
this
{{myPromiseAsync | async}} -->
<!-- <img [src]="userImage|defaultImage:placeHolder" /> -->
<!--
<p>{{data| suming:'age'}}</p>
<p>{{data| suming:'speed'}}</p> -->

<!-- <form [formGroup]="formReg" (ngSubmit)="onSubmit()">
  <label for="">FirstName:
    <input type="text" formControlName="firstName">
  </label>
  <button type="submit">submit</button>
</form> -->
<!-- <nav>
  <a routerLink="home" routerLinkActive="active">Home</a> |
  <a routerLink="login" routerLinkActive="active">Login</a> |
  <a routerLink="signup" routerLinkActive="active">Sign Up</a> |
  <a routerLink="team" routerLinkActive="active">Team</a> |
</nav>
hrader
<router-outlet></router-outlet>
footer
<button mat-raised-button color="primary">Primary</button> -->


<app-home></app-home>
